proyecto_eclipse/helloService.wsdl

<definitions name="FService"
   targetNamespace="http://www.examples.com/wsdl/FService.wsdl"
   xmlns="http://schemas.xmlsoap.org/wsdl/"
   xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
   xmlns:tns="http://www.examples.com/wsdl/FService.wsdl"
   xmlns:xsd="http://www.w3.org/2001/XMLSchema">
 
   <message name="fraseRandomRequest">
      <part name="autor" type="xsd:string"/>
   </message>
    
   <message name="fraseRandomResponse">
      <part name="return" type="xsd:string"/>
   </message>

   <message name="frasePorAutorRequest">
      <part name="firstName" type="xsd:string"/>
   </message>
   
   <message name="frasePorAutorResponse">
      <part name="greeting" type="xsd:string"/>
   </message>

   <portType name="Random_PortType">
      <operation name="fraseRandom">
         <input message="tns:fraseRandomRequest"/>
         <output message="tns:fraseRandomResponse"/>
      </operation>
   </portType>

    <portType name="PorAutor_PortType">
      <operation name="frasePorAutor">
         <input message="tns:frasePorAutorRequest"/>
         <output message="tns:frasePorAutorResponse"/>
      </operation>
   </portType>

   <binding name="Random_Binding" type="tns:Random_PortType">
      <soap:binding style="rpc"
         transport="http://schemas.xmlsoap.org/soap/http"/>
      <operation name="fraseRandom">
         <soap:operation soapAction="fraseRandom"/>
         <input>
            <soap:body
               encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
               namespace="urn:examples:FService"
               use="encoded"/>
         </input>
        
         <output>
            <soap:body
               encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
               namespace="urn:examples:FService"
               use="encoded"/>
         </output>
      </operation>
   </binding>

      <binding name="PorAutor_Binding" type="tns:PorAutor_PortType">
      <soap:binding style="rpc"
         transport="http://schemas.xmlsoap.org/soap/http"/>
      <operation name="frasePorAutor">
         <soap:operation soapAction="frasePorAutor"/>
         <input>
            <soap:body
               encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
               namespace="urn:examples:PorAutorservice"
               use="encoded"/>
         </input>
      
         <output>
            <soap:body
               encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
               namespace="urn:examples:PorAutorservice"
               use="encoded"/>
         </output>
      </operation>
   </binding>

   <service name="Random_Service">
      <documentation>WSDL File for FService</documentation>
      <port binding="tns:Random_Binding" name="Random_Port">
         <soap:address
            location="http://www.examples.com/fraseRandom/" />
      </port>
   </service>

   <service name="PorAutor_Service">
      <documentation>WSDL File for PorAutorService</documentation>
      <port binding="tns:PorAutor_Binding" name="PorAutor_Port">
         <soap:address
            location="http://www.examples.com/frasePorAutor/" />
      </port>
   </service>
</definitions>